@media screen and (max-width: 760px) {
    .messagebox {
        width: 300px;
        padding: 20px;
    }

    .rtan {
        width: 150px;
        height: 150px;
        margin: 70px auto 0px auto;
    }

    h1 {
        font-size: 28px;
    }

    .envelope {
        margin: 150px auto 0px auto;
    }
}

* {
    font-family: 'Poor Story', cursive;
}

body {
    background-color: #9b070f;
}

.envelope {
    width: 200px;
    height: 200px;

    background-image: url('https://pngimg.com/uploads/envelope/envelope_PNG18366.png');
    background-size: cover;
    background-position: center;

    margin: 200px auto 0 auto;
    /* 시계방향 */

    cursor: pointer;
}

.envelope-msg {
    color: white;
    text-align: center;
}

.letter-close {
    display: block;
}

.letter-open {
    display: none;
}

.rtan {
    background-color: white;

    width: 200px;
    height: 200px;

    background-image: url('https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/xmas/Webp.net-gifmaker+(1).gif');
    background-size: cover;
    background-position: center;

    margin: 100px auto 0 auto;
    /* 시계방향 */

    border-radius: 100px;
    border: 5px solid white;
    box-shadow: 0px 0px 20px 3px white;
}

h1 {
    color: white;
    text-align: center;

    margin-top: 30px;
    margin-bottom: 30px;
}

.messagebox {
    background-color: ivory;
    width: 400px;
    /* height는 글 길이의 맞춰서 알아서 들어감 */
    margin: auto;
    padding: 30px;

    color: brown;
    font-size: 20px;
    line-height: 30px;

    box-shadow: 0px 0px 10px 3px white;
}

.from {
    text-align: right;
    margin-bottom: 0px;
}