* {
    font-family: 'Poor Story', cursive;
}

body {
    background-color: #9b070f;
}

.envelope {
    width: 200px;
    height: 200px;

    background-image: url('https://pngimg.com/uploads/envelope/envelope_PNG18366.png');
    background-size: cover;
    background-position: center;

    margin: 200px auto 0 auto; /* 시계방향 */

}

.envelope-msg{
    color: white;
    text-align: center;
}